In [1]:
import pandas as pd

In [9]:
# Task -1 
data = pd.Series([17, 18, 37, 43, 56, 33, 66])

print("Pandas Series:")
print(data)

Pandas Series:
0    17
1    18
2    37
3    43
4    56
5    33
6    66
dtype: int64

In [10]:
print("\nMean value:", data.mean())
print("Maximum value:", data.max())
print("Minimum value:", data.min())

Mean value: 38.57142857142857
Maximum value: 66
Minimum value: 17

In [4]:
import pandas as pd

In [12]:
# Task - 2
data = {
    "Name": ["Rachana", "JC", "Naveen", "Nithin"],
    "Age": [26, 23, 26, 22],
    "Department": ["Data Engineering", "Analytics", "HR", "Finance"],
    "Salary": [95000, 88000, 76000, 102000]
}

df = pd.DataFrame(data)

print("Employee DataFrame:\n")
print(df)

Employee DataFrame:

      Name  Age        Department  Salary
0  Rachana   26  Data Engineering   95000
1       JC   23         Analytics   88000
2   Naveen   26                HR   76000
3   Nithin   22           Finance  102000

In [8]:
# Access a single column
print("\nAccess 'Name' column:")
print(df["Name"])

# Access multiple columns
print("\nAccess 'Name' and 'Salary' columns:")
print(df[["Name", "Salary"]])

Access 'Name' column:
0    Rachana
1         JC
2     Naveen
3     Nithin
Name: Name, dtype: object

Access 'Name' and 'Salary' columns:
      Name  Salary
0  Rachana   95000
1       JC   88000
2   Naveen   76000
3   Nithin  102000